---
import { getEntry } from "astro:content";
import type { ContactHeadings, DrewplastData, Region } from "@lib/types";
import { getLocalizedDataByEntry } from "@lib/data";
import { defaultLocale } from "@i18n/ui";

const locale = Astro.currentLocale || defaultLocale;

const { data: drewplastData } = (await getEntry("data", "drewplast")) as {
  data: DrewplastData;
};
const region = (await getLocalizedDataByEntry(
  drewplastData.address.region,
  locale
)) as Region;

const { contactHeadings } = (await getLocalizedDataByEntry(
  { id: "ui", collection: "translations" },
  locale
)) as { contactHeadings: ContactHeadings };
---

<div class="wrapper">
  <div class="column">
    <div>
      <span>{contactHeadings.phone}</span>
      <a href={`tel:${drewplastData.contact.phone}`} class="navlink">
        {drewplastData.contact.phone}
      </a>
    </div>

    <div>
      <span>{contactHeadings.email}</span>
      <a href={`mailto:${drewplastData.contact.email}`} class="navlink">
        {drewplastData.contact.email}
      </a>
    </div>
  </div>

  <div class="column">
    <span>{contactHeadings.address}</span>
    <p>{drewplastData.address.street}</p>
    <p>{drewplastData.address.postalCode} {drewplastData.address.city}</p>
    <p>{region.title}</p>
  </div>
  
  <div class="column">
    <div class="row">
      <span>NIP</span>
      <p>{drewplastData.nip}</p>
    </div>

    <div class="row">
      <span>KRS</span>
      <p>{drewplastData.krs}</p>
    </div>

    <div class="row">
      <span>REGON</span>
      <p>{drewplastData.regon}</p>
    </div>
  </div>
</div>

<style>
  a {
    display: block;
  }

  .row {
    display: flex;
    align-items: center;
    gap: var(--spacer);
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .wrapper {
    font-size: var(--fs-m);
    overflow-x: auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  @media (min-width: 30rem) {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 55rem) {
    .wrapper {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);

      > div:first-child,
      > div:nth-child(2) {
        grid-row: span 2;
      }
    }
  }

  @media (min-width: 80rem) {
    .row span {
      min-width: 6rem;
    }
  }
</style>
