---
import type { ContactItem } from "@lib/types";

interface Props { item: ContactItem; }

const { item } = Astro.props;
---

<li>
  <span>{item.name}</span>
  {item.position && <p>{item.position}</p>}
  {
    item.address && (
        <p>{item.address.street}</p>
        <p>{item.address.postalCode} {item.address.city}</p>
    )
  }
  {item.contact.phone && <p>ICON {item.contact.phone}</p>}
  {item.contact.email && <p>ICON {item.contact.email}</p>}
  {item.contact.url && <p>ICON {item.contact.url}</p>}
</li>
