---
import type { ContactItem } from "@lib/types";
import LabeledIcon from "@components/LabeledIcon.astro";

interface Props {
  item: ContactItem;
}

const { item } = Astro.props;
---

<li class="flow-content">
  <span>{item.name}</span>
  {item.position && <p>{item.position}</p>}
  {
    item.address && (
      <>
        <p>{item.address.street}</p>
        <p>
          {item.address.postalCode} {item.address.city}
        </p>
      </>
    )
  }
  {
    item.contact.phone && (
      <a href={`tel:${item.contact.phone}`} class="navlink">
        <LabeledIcon iconName="akar-icons:phone" text={item.contact.phone} />
      </a>
    )
  }

  {
    item.contact.email && (
      <a href={`mailto:${item.contact.email}`} class="navlink">
        <LabeledIcon iconName="akar-icons:envelope" text={item.contact.email} />
      </a>
    )
  }

  {
    item.contact.url && (
      <a href={item.contact.url} target="_blank" class="navlink">
        <LabeledIcon iconName="akar-icons:globe" text={item.contact.url} />
      </a>
    )
  }
</li>

<style>
  li {
    --flow-spacer: 0.5rem;
  }

  a {
    display: block;
    font-size: inherit;
  }
</style>
