---
import { Image } from "astro:assets";
import { getLocalizedDataByEntry } from "@lib/data";
import { isList } from "@lib/utils";
import { getDynamicImageData } from "@lib/imageImport";
import { getLocaleUrl } from "@i18n/urls";
import { defaultLocale } from "@i18n/ui";

import LabeledIcon from "@components/LabeledIcon.astro";
import Badges from "@components/Badges.astro";

const {
  product: {
    sectionHeader,
    image,
    seo,
    buttonText,
    sectionElements: { pipesList, fittingsList },
  },
} = Astro.props;
const locale = Astro.currentLocale || defaultLocale;

const imageData = await getDynamicImageData(image, locale);
const pipesTitles = isList(pipesList)
  ? await Promise.all(
      pipesList.map(
        async ({ pipe }) => (await getLocalizedDataByEntry(pipe, locale)).title
      )
    )
  : [];
const fittingsTitle = isList(fittingsList?.list) ? [fittingsList.title] : [];

const badges = [...pipesTitles, ...fittingsTitle];
---

<li class="card">
  <a href={getLocaleUrl(locale, seo.slug)}></a>

  <div class="img-wrapper">
    <Image
      src={imageData.import()}
      alt={imageData.alt}
      decoding="async"
      loading="lazy"
      layout="constrained"
    />
  </div>

  <div class="card__content">
    <h2>{sectionHeader.title}</h2>
    <p>{sectionHeader.description}</p>
    <Badges list={badges} />
    <LabeledIcon
      iconName="akar-icons:arrow-right"
      text={buttonText}
      isLeft={false}
      isAnimated={true}
      class="navlink"
    />
  </div>
</li>

<style>
  .card__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacer);

    overflow: hidden;

    .badges {
      flex-grow: 1;
      margin-block: 0.4rem;
    }

    .navlink {
      margin-top: auto;
      align-self: end;
      margin-right: var(--spacer);
    }
  }

  li.card {
    padding: var(--spacer);
    border: 1px solid var(--clr-border);

    display: grid;
    gap: var(--spacer-responsive);

    .img-wrapper {
      width: 100%;
      aspect-ratio: 2/1;
    }

    &:hover {
      .navlink {
        opacity: 0.5;
      }
      .icon-right {
        transform: translateX(5px);
      }
    }
  }

  @media (min-width: 55rem) {
    li.card {
      grid-template-columns: 20rem 1fr;
      gap: var(--spacer-responsive);

      .img-wrapper {
        height: 100%;
      }
    }
  }

  @media (min-width: 60rem) {
    li.card {
      .img-wrapper {
        aspect-ratio: 1/1;
      }
    }
  }
</style>
