---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLocalizedLink } from "@lib/data";
import { getDynamicImageData } from "@lib/imageImport";
import { defaultLocale } from "@i18n/ui";

import LabeledIcon from "@components/LabeledIcon.astro";

const {
  title,
  description,
  pageLink,
  backgroundImage,
  class: classes,
} = Astro.props;
const locale = Astro.currentLocale || defaultLocale;

const imageData =
  backgroundImage && (await getDynamicImageData(backgroundImage, locale));

const pageLinkData =
  pageLink && (await getLocalizedLink(pageLink.page, locale));

const hasSlotContent = !!Astro.slots.default;
---

<section
  class:list={[classes?.section]}
  style={backgroundImage && `background-image: url('${imageData.src}')`}
>
  <div class:list={["content", classes?.content]}>
    <h2 id="title">{title}</h2>
    {
      description && (
        <div id="description" class="flow-content">
          {description.split("\n").map((paragraph: string) => (
            <p>{paragraph}</p>
          ))}
        </div>
      )
    }
    {
      pageLink && (
        <div id="link">
          <a href={getRelativeLocaleUrl(locale, pageLinkData.url)}>
            <LabeledIcon
              iconName="akar-icons:arrow-right"
              text={pageLink.text}
              isLeft={false}
              isAnimated={true}
              class="navlink"
            />
          </a>
        </div>
      )
    }
    {
      hasSlotContent && (
        <div id="slot">
          <slot />
        </div>
      )
    }
  </div>
</section>

<style>
  section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #title {
    grid-area: title;
  }

  #description {
    grid-area: description;
  }

  #slot {
    grid-area: slot;
  }

  #link {
    grid-area: link;
  }

  .content {
    display: grid;
    gap: var(--spacer-responsive);
    grid-template-columns: minmax(
      0rem,
      1fr
    ); /* fix for overflowing grid item */
  }

  .basic-content,
  .description-content,
  .application-content {
    grid-template-areas:
      "title"
      "description"
      "slot";
  }

  .minimal-content {
    grid-template-areas:
      "title"
      "slot";
  }

  .list-content,
  .link-content {
    grid-template-areas:
      "title"
      "description"
      "slot"
      "link";
  }

  .background-content {
    grid-template-areas:
      "title"
      "description"
      "link";

    background-color: var(--clr-background);

    padding: var(--section-padding) var(--spacer-responsive);
    margin-left: var(--content-margin);
  }

  @media (min-width: 48rem) {
    .content {
      gap: var(--spacer) var(--spacer-responsive);
    }

    .minimal-content {
      gap: var(--spacer-responsive);
    }

    .description-content {
      grid-template-areas:
        "title description"
        "slot slot";
      grid-template-columns: 1fr 1fr;
      gap: calc(1.5 * var(--spacer-responsive)) var(--spacer);
    }

    .list-content {
      grid-template-areas:
        "title slot"
        "description slot"
        "link slot";
      grid-template-columns: 1fr minmax(0rem, 3fr); /* fix for overflowing grid item */
      grid-template-rows: auto 1fr auto;
    }

    .background-content {
      width: 50vw;

      &.breakout-right {
        padding-inline: var(--section-padding) var(--content-margin);
        margin-left: calc(50vw - var(--content-margin));
      }

      &.breakout-left {
        padding-inline: var(--content-margin) var(--section-padding);
        margin-left: 0;
      }
    }

    .link-content {
      grid-template-areas:
        "description title"
        "description link";
      grid-template-columns: 1fr 1fr;

      #title,
      #link {
        justify-self: end;
        text-align: end;
      }
    }

    .application-content {
      grid-template-areas:
        "title ."
        "description slot";
      grid-template-columns: 1fr 1fr;
      row-gap: var(--spacer-responsive);
    }
  }
</style>
