---
import { getEntry } from "astro:content";
import { getLocalizedDataByEntry } from "@lib/data";
import { defaultLocale } from "@i18n/ui";
import { getLocaleUrl } from "@i18n/urls";
import type { DrewplastData, PageLink } from "@lib/types";
import LabeledIcon from "@components/LabeledIcon.astro";
import NavLinks from "@components/NavLinks.astro";
import Logo from "@components/Logo.astro";

const { data: drewplastData } = (await getEntry("data", "drewplast")) as {
  data: DrewplastData;
};
const locale = Astro.currentLocale || defaultLocale;

const privacyPageData = (await getLocalizedDataByEntry(
  { collection: "pages", id: "polityka-prywatnosci" },
  locale
)) as PageLink;
const { aboutCompany } = (await getLocalizedDataByEntry(
  { id: "ui", collection: "translations" },
  locale
)) as { aboutCompany: string };
---

<footer class="content-grid dark">
  <div class="footer-wrapper">
    <div class="footer__about flow-content">
      <Logo />
      <p>{aboutCompany}</p>
    </div>

    <nav>
      <NavLinks class="vertical" />
    </nav>

    <div class="footer__contact flow-content">
      <p class="h3">{drewplastData.fullName}</p>
      <p>{drewplastData.address.street}</p>
      <p>{drewplastData.address.postalCode} {drewplastData.address.city}</p>
      <a href=`tel:${drewplastData.contact.phone}`>
        <LabeledIcon
          iconName="akar-icons:phone"
          text={drewplastData.contact.phone}
          class="navlink"
        />
      </a>
      <a href=`mailto:${drewplastData.contact.email}`>
        <LabeledIcon
          iconName="akar-icons:envelope"
          text={drewplastData.contact.email}
          class="navlink"
        />
      </a>
    </div>

    <div class="footer__copyright">
      <p>© Copyright 2024 Drewplast Sp. z o.o.</p>
      <a href={getLocaleUrl(locale, privacyPageData.seo.slug)} class="navlink">
        {privacyPageData.title}
      </a>
    </div>
  </div>
</footer>

<style>
  footer {
    background: var(--clr-background);
    width: 100%;
  }

  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--section-padding);

    --flow-spacer: 0.75rem;
  }

  .footer__about {
    --logo-size: 2.5rem;
    --logo-clr: var(--clr-text);
    --flow-spacer: var(--spacer);
  }

  .footer__contact {
    font-size: var(--fs-m);

    a {
      display: block;
    }
  }

  .footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacer-responsive);

    border-top: 1px solid var(--clr-border);
    font-size: var(--fs-m);
    padding-top: var(--section-padding);
  }

  @media (min-width: 48rem) {
    .footer-wrapper {
      grid-template-columns: 1fr 1fr;
    }

    .footer__about {
      grid-column: span 2;
    }

    .footer__copyright {
      grid-column: span 2;
    }
  }

  @media (min-width: 60rem) {
    .footer-wrapper {
      grid-template-columns: minmax(144px, 1fr) 1fr auto;
    }

    nav {
      padding-left: clamp(0px, 20%, var(--section-padding));
    }

    .footer__about {
      grid-column: unset;
    }

    .footer__copyright {
      grid-column: span 3;
      padding-top: var(--spacer-responsive);
    }
  }
</style>
